<%= render 'navbar' %>

<div class="container">
  <h2>Users Table</h2>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>User ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Address</th>
        <th>Contact</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @profiles.each do |profile| %>
        <tr>
          <td><%= profile.user_id %></td>
          <td><%= profile.first_name %></td>
          <td><%= profile.last_name %></td>
          <td><%= profile.address %></td>
          <td><%= profile.contact %></td>
          <td><button class="btn btn-primary"> <%= link_to 'Edit', edit_profile_path(profile) %></button></td>
          <td><button class"btn btn-danger"> <%= link_to 'Delete', profile, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
 