
<%= render 'navbar' %>
  
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <button class="btn btn-primary btn-block"><%= link_to 'Edit Profile', edit_profile_path(@profile) %></button>
        </li>
        <li>  
          <% if can? :crud, Profile %>
            <button class="btn btn-primary btn-block"><%= link_to "Users List", profiles_path %></button>
          <% end %>
          <% if can? :crud, Book %>
            <button class="btn btn-primary btn-block"><%= link_to "Add New Book", new_book_path %></button>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="col-sm-8 text-left">
      <h1>Welcome <%= @profile.first_name %></h1>
      <hr>
      <div class="panel panel-primary">
        <div class="panel-heading">Profile Details</div>
        <div class="panel-body">
          <h4>First name:
          <%= @profile.first_name %></h4>
          <h4>Last name:
          <%= @profile.last_name %></h4>
          <h4>Address:
          <%= @profile.address %></h4>
          <h4>Contact:
          <%= @profile.contact %></h4>
        </div>
      </div>
    </div>
  </div>
</div>