
  <div class="container">
    <div class='col-sm-4' style='float:none; background:rgba(100, 104, 150, 0.4)'>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :class=>'form') do |f|%>
        <div class='fieldset'>
        <legend>Sign In</legend>

          <div class="form-group">
            <%= f.label 'Email' %>
            <%= f.email_field :email, :autofocus => true, :class=>'form-control', :placeholder => 'Email address' %>
          </div>

          <div class="form-group">
            <%= f.label 'Password' %>
            <%= f.password_field :password, :class=>'form-control', :placeholder => 'Password' %>
          </div>

          <%= f.submit "Let me in", :class=> 'btn btn-primary' %>
         </div>  
      <% end %>
    </div>
  </div>

  <%= render "devise/shared/links" %>