<%= render 'navbar' %>

<div class="container">
  <div class="col-sm-8 text-left">
    <div class="panel panel-primary">
      <div class="panel-heading">Book Details</div>
        <div class="col-sm-5 text-left">
          <div class="panel-body">
            <%= image_tag @book.avatar.url(:medium) %>
            <h4><strong>Title:</strong><%= @book.title %></h4>
            <h4><strong>Author:</strong><%= @book.author %></h4>
            <h4><strong>Rating:</strong><%= @book.rating %></h4>
            <h4><strong>Isbn:</strong><%= @book.isbn %></h4>
          </div>
        </div>
      </div>

      <div class="col-sm-2 text-left">
      </div>

    </div>
  </div>
</div>