<%= render 'navbar' %>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <button class="btn btn-success btn-block"><%= link_to 'Issue This Book', issue_book_path, :method => :create, data: {confirm: 'Are you sure'} %></button>
        </li>
        <li>
          <% if can? :crud, Book %>
            <button class="btn btn-primary btn-block"><%= link_to 'Edit Book Details', edit_book_path(@book) %></button>
            <button class="btn btn-danger btn-block"><%= link_to 'Delete This Book', @book, :method => :delete, data: { confirm: 'Are you sure?' } %></button>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="col-sm-8 text-left">
      <%= image_tag @book.avatar.url(:medium) %>
      <h4><strong>Title:</strong><%= @book.title %></h4>
      <h4><strong>Author:</strong><%= @book.author %></h4>
      <h4><strong>Rating:</strong><%= @book.rating %></h4>
      <h4><strong>Isbn:</strong><%= @book.isbn %></h4>
    </div>
  </row>
</div>