<%= render 'navbar' %>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <%= display_issue_or_return_link(@book) %>
       </li>
        <li>
          <%= display_crud_link(@book).html_safe %>
        </li>
      </ul>
    </div>
    <div class="col-sm-8 text-left">
      <%= image_tag @book.avatar.url(:medium) %>
      <h4><strong>Title:</strong><%= @book.title %></h4>
      <h4><strong>Author:</strong><%= @book.author %></h4>
      <h4><strong>Rating:</strong><%= @book.rating %></h4>
      <h4><strong>Isbn:</strong><%= @book.isbn %></h4>
    </div>
  </row>
</div>